
.LoginContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f7f2;
    
    .Login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      background-color: white;
      gap: 15px;
      height: 400px;
      width: 300px;
      border-radius: 20px;
  
      .Title{
        font-size: 40px;
        padding-bottom: 40px;
      }
      .Intro{
        font-size: 20px;
        padding: 1px;
      }
    }
}

.AppContainer{
    background-color: #f2f7f2;

    .LogoutContainer{
        display:flex;
        background-color: #98938C;
        flex-direction: row-reverse;
        .Logout{
            padding:10px;
            margin: 10px;
            border: none;
            display: inline-block;
            font-size: 16px;
            background-color: #f2f7f2;
            cursor: pointer;
        }
    }

    form{
        width:100vh;
    }

    .message{
        display:flex;
        align-items:center;
        color: white;
    }
    
    p{
        margin-bottom: 0px;
        padding: 5px 10px;
        border-radius: 25px;
        text-align: center;
    }

    .sent{
        flex-direction: row-reverse;
    }

    .sent p{
        background-color: #1982FC;
        align-self:flex-end;
    }
    
    .received p{
        background-color: #43CC47;   
    }
}