.App{
    margin: 0px;
    max-width: 720px;
    min-height: 500px;
}

.AppContainer{
    background-color: #f2f7f2;
    .LogoutContainer{
        display:flex;
        background-color: #98938C;
        height: 8vh;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        .Logout{
            border: none;
            display: inline-block;
            font-size: 16px;
            background-color: #f2f7f2;
            cursor: pointer;
            margin: 15px;
        }
        
        .Receiver{
            justify-content: center;
            align-items: center;
        }
    }
    .SearchResults{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid black;
        .searchResultsDropdown{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .userDisplayName:hover{
                cursor: pointer;
                background-color: bisque;
            }
        }
    }
    

    .sent{
        flex-direction: row-reverse;
    }
    
    .sent p{
        background-color: #1982FC;
        align-self:flex-end;
    }
    
    .received p{
        background-color: #43CC47;   
    }

    .message{
        display:flex;
        align-items:center;
        color: white;
    }

    .Messages{
        padding-left: 5px;
        padding-right: 5px;
        overflow-y: scroll;
        height: 70vh;
    }
}

form{
    height: 5vh;
    width:100%;
    display:flex;
    font-size: 1.5rem;
}

form button{
    width: 20%;
    background-color: #98938C;
    cursor: pointer;
    border: none;
}

input {
    width: 100%;
    border: none;
}

p{
    margin-bottom: 0px;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
}

ul{
    list-style: none;
}
