.App{
    margin: 0px;
    max-width: 720px;
    min-height: 500px;
}

.LoginContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f7f2;
    
    .Login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      background-color: white;
      gap: 15px;
      height: 400px;
      width: 300px;
      border-radius: 20px;
  
      .Title{
        font-size: 40px;
        padding-bottom: 40px;
      }
      .Intro{
        font-size: 20px;
        padding: 1px;
      }
    }
}

.AppContainer{
    background-color: #f2f7f2;
    .LogoutContainer{
        display:flex;
        background-color: #98938C;
        flex-direction: row-reverse;
        height: 8vh;

        .Logout{
            border: none;
            display: inline-block;
            font-size: 16px;
            background-color: #f2f7f2;
            cursor: pointer;
            margin: 15px;
        }
    }

    .Messages{
        padding-left: 5px;
        padding-right: 5px;
        overflow-y: scroll;
        height: 87vh;
    }

    form{
        height: 5vh;
        width:100%;
        position: fixed;
        display:flex;
        font-size: 1.5rem;
    }

    form button{
        width: 20%;
        background-color: #98938C;
        cursor: pointer;
    }

    input {
        width: 100%;
        border: none;
    }

    .message{
        display:flex;
        align-items:center;
        color: white;
    }
    
    p{
        margin-bottom: 0px;
        padding: 5px 10px;
        border-radius: 25px;
        text-align: center;
    }

    .sent{
        flex-direction: row-reverse;
    }

    .sent p{
        background-color: #1982FC;
        align-self:flex-end;
    }
    
    .received p{
        background-color: #43CC47;   
    }
}